html {
    font-size: 14px;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #f6f9f9;
}

#header {
    h1 {
        font-size: 2.1em;
        text-transform: uppercase;
        a {
            text-decoration: none;
        }
    }
}

.strict-slide {
    min-height: calc(100vh - 68px);
    padding: 5% 0;
    text-align: center;
    background: url("../images/background.png") center/cover no-repeat;
    color: #ffffff;
    h1 {
        display: inline-block;
        margin: 5% auto 5%;
        padding: 0 5%;
        border-bottom: 2px solid #15a4fa;
        font-size: 8.57em;
        text-transform: uppercase;
    }
    p {
        font-size: 1.42em;
    }
    .call {
        text-align: center;
        font-size: 2em;
    }
    .btn-strict-slide {
        margin-bottom: 15%;
        background-color: transparent;
        color: #ffffff;
        border: 1px solid #15a4fa;
        &:hover{
          background-color: #15a4fa;
          list-style-type: none;
        }
    }
    .button-move {
    }
    a {
        color: #ffffff;
        font-size: 1.5em;
        .fa {
            font-size: 1.5em;
        }
    }
}

.container-simple {
    .container {
        text-align: center;
        h2 {
            padding-top: 61px;
            color: #2d3950;
            font-size: 2.86em;
        }
        p {
            padding-bottom: 80px;
            padding-top: 21px;
            font: 1.43em/2.29em Lato;
            color: #999;
        }
    }
}

.container-optimized {
    background-color: #ffffff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    .row-optimized {
        padding: 0;
        .col-optimized {
            padding-top: 15px;
            list-style-type: none;
            h3 {
                color: #2d3950;
                font-size: 1.56em;
            }
            p {
                color: #999;
                font: 1.1em/1.57em Lato;
            }
            .icon-border {
                display: inline-block;
                background: #48baff;
                background: -webkit-linear-gradient(left, #48baff 50%, #5fc3ff 50%);
                background: -o-linear-gradient(left, #48baff 50%, #5fc3ff 50%);
                background: -moz-linear-gradient(left, #48baff 50%, #5fc3ff 50%);
                background: linear-gradient(left, #48baff 50%, #5fc3ff 50%);
                border-radius: 2px;
                width: 100px;
                padding: 15px;
                .fa {
                    color: white;
                    font-size: 5em;
                }
            }
        }
    }
}

.container-image {
    text-align: center;
    .container{
        h3 {
            color: #2d3950;
            font-size: 2.93em;
        }
        p {
            color: #909090;
            font: 1.1em/1,64em Lato;
        }
        .img-col {
            padding: 15px;
            border-radius: 2px;
            .overlay {
                opacity: 0;
                transition: all 0.3s ease;
                display: block;
                position: absolute;
                top: 15px;
                left:15px;
                right:15px;
                bottom:15px;
            }
            img {
                width: 100%;
                height: auto;
            }
            &:hover {
                .overlay {
                    opacity: 0.9;
                    background-color: #15a4fa;
                }
            }
        }
    }
}
.container-form {
    background: url("../images/bg-form.png") 50% no-repeat;
    background-size: cover;
}

.container-form-hover {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: #2d3950;
    padding-top: 50px;
    padding-bottom: 110px;
    .container {
        text-align: center;
        h2 {
            color: #ffffff;
            font-size: 2.93em;
        }
        p {
            color: #999;
            font: 1.07em/1.64em Lato;
        }
        ul {
            padding-left: 0;
            list-style-type: none;
        }
        .form-strict {
            input, textarea, .form-control {
                background-color: transparent;
                color: #999;
                font-size: 1.07em;
            }
            label {
                color: #ffffff;
                font-size: 0.786em;
            }
            .btn-container-form {
                background-color: transparent;
                border: 1px solid #15a4fa;
                border-radius: 2px;
                color: white;
                font-size: 1.286em;
            }

            &:last-child {

                text-align: left;
            }
        }
    }
}

#footer {
    text-align: justify;
    padding: 2.714em 10px;
    span {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .icon {
        display: inline-block;
        width: 40px;
        line-height: 40px;
        background-color: #15a4fa;
        border-radius: 2px;
        a {
            padding: 15px;
            text-align: center;
            color: white;
        }

    }
}


@media (min-width: 0) and (max-width: 576px) {
    body {
        font-size: 10px;
    }
    .strict-slide {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 8px;
        p {
            line-height: 20px;
            font-size: 1.8em;
        }
      .btn-strict-slide {
        margin-bottom: 40%;
    }
    h1 {
      margin: 25% auto 15%;
    }
  }
}
@media (min-width: 576px) and (max-width: 768px) {
    .strict-slide {
        font-size: 14px;
        .call {
            padding: 5% 0;
            .btn-strict-slide {
                font-size: 1em;
            }
        }
    }
  .strict-slide {
    min-height: calc(100vh - 68px);
    h1 {
      margin: 25% auto 25%;
    }
  }
}
